<%= messages.each do |message| %>
  <% if message.user.id == current_user.id %>
    <div class="my-comment">
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="fukidashi">
      <div class="faceicon">
        <%= attachment_image_tag(message.user, :profile_image, size: "100x100", fallback: "no_image.png", class: "profile_image") %>
      </div>
      <div class="chatting">
        <div class="says">
          <p><%= message. %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>