<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      ここに投稿一覧のテンプレを持ってくる
    </div>
  </div>
</div>

