<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto text-center">
      <h1><strong>本当に退会しますか？</strong></h1>
      <p class="my-5">
        退会すると、会員情報や<br>
        これまでの投稿がすべて削除されます。
      </p>
      <div class="btn-wrapper my-5">
        <%= link_to "退会しない", user_path(@user.id), class: "btn btn-success btn-block" %>
        <%= link_to "退会する", withdraw_path(@user.id), method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>