<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12 mx-auto">
      <h2 class="my-5"><%= @user.nickname %>さんのフォロワー</h2>
      <% if @users.exists? %>
        <%= render 'index', users: @users %>
      <% else %>
        <p>まだフォローされていません...</p>
      <% end %>
    </div>
  </div>
</div>