<div class="container">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h2 class="my-5">MI-NAMへようこそ</h2>
      <p class="bottm-space">
        MI-NAM は、メンズ美容に関する情報を交換できるサイトです。
      </p>
      <p class="bottm-space">
        美容先進国として知られる韓国の、미용(ミヨン、美容)と남성(ナムソン、男性)
      </p>
      <p class="bottm-space">
        という言葉を合わせて、MI-NAM(ミナム)と名付けました。
      </p>
      <p class="bottm-space">
        男性ならではのお悩みをシェアして、ユーザーと交流する中で
      </p>
      <p class="bottm-space">
        新たな製品やサービスを試すきっかけ作りをしましょう！
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h4 class="my-4">ご利用方法</h4>
      <p class="bottom-space">
        <i class="fas fa-2x fa-check check"></i> 　会員登録をして、製品やサービスのレビューを投稿しよう！
      </p>
      <p class="bottom-space">
        <i class="fas fa-2x fa-check check"></i> 　気になる投稿にいいねやコメントを残して、交流をしよう！
      </p>
      <p class="bottom-space">
        <i class="fas fa-2x fa-check check"></i>　 チャットを利用して「美容情報」や「悩み」を共有しよう！
      </p>
    </div>
  </div>
</div>