<div class="main-visual">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
    <div class="image6"></div>
    <div class="image7"></div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="main-content col-12">
      <%= render "user/homes/top" %>
    </div>
  </div>
</div>