<div class="container my-5">
  <div class="row">
    <div class="main-visual">
      <div id="theTarget">画像スライダー</div>
    </div>
  </div>
  <div class="row">
    <div class="main-content">
      <%= render "user/homes/top" %>
    </div>
  </div>
</div>