<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="mb-4 flash"><%= flash[:notice] %></div>
      <h2 class="my-5 text-center">投稿一覧</h2>
      <%= render 'index', posts: @posts %>
      <div class="my-3 pull-right">
        <p><%= paginate @posts %></p>
      </div>
    </div>
  </div>
</div>