/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 // リセットCSS
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 header {
  background-color: #20b2aa;
 }

 nav img {
  border-radius: 20px;
  border: solid #faebd7;
 }
 
 .navbar-toggler {
  background-color: #faebd7;
}

.nav-link {
 color: #faebd7!important;
 text-align: right;
 letter-spacing: .06em;
}

 body {
  width: 100%;
  height: 100%;
  background-color: #fffafa;
  font-family: 'Noto Sans JP', sans-serif;
 }

 #error_explanation {
  color: red;
 }

 .new-notice {
  color: orange;
 }

 .flash {
  color: green;
 }

 .table th {
  border-top: none;
 }

 // プロフィール画像を円形にする
 .profile_image {
  border-radius: 50%;
  object-fit: cover;
 }

 // 投稿一覧に関連
 .card {
  width: 30%;
 }

 .card img {
  width: 100%;
  height: 100%;
 }

 // 投稿詳細に関連
 .post-show {
  border-radius: 20px;
  font-size: 20px;
 }

 .post-show-img {
  border-radius: 20px;
 }

 .post-title {
  border-bottom: 1px solid #c0c0c0;
 }

 .card-body {
  background-color: #fffafa;
 }

 .hash-name {
  color: blue;
 }

 .heart_red {
  color: red;
 }

// フッター固定のCSS
#container {
 position: relative;
 padding-bottom: 100px;
 box-sizing: border-box;
 min-height: 100vh;
}

 footer {
  width: 100%;
  height: 100px;
  background-color: #20b2aa;
  position: absolute;
  bottom: 0;
 }

 .footer-text {
  line-height: 100px;
  text-align: center;
  color: #faebd7;
 }